<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Usuarios</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

    <div id="resultado_usuarios"></div>
    <div id="un_usuario"></div>   



	<!-- Edit Modal HTML -->
	<div id="addUserModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content" id="formnuevousuario">
				<form id="addUserForm" autocomplete="off">
					<div class="modal-header">						
						<h4 class="modal-title">Agregar Usuario</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nombre</label>
							<input type="text" id="addnombre" name="addnombre" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Apellido</label>
							<input type="text" id="addapellido" name="addapellido" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Teléfono</label>
							<input type="text" id="addtelefono" name="addtelefono" class="form-control" required>
						</div>                                                
						<div class="form-group">
							<label>Email</label>
							<input type="email" id="addemail" name="addemail" class="form-control" required>
						</div>	
						<div class="form-group" id="addmensaje">
						</div>	                        				
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" id="addEnvio" value="Agregar usuario">
					</div>
				</form>
			</div>
		</div>
	</div>


    <div class="modal fade" id="myConfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Administración de usuarios</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    Se creó el usuario correctamente
                </div>    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myConfModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel2">Administración de usuarios</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    Se actualizo los datos del usuario correctamente
                </div>    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
            </div>
          </div>
        </div>
      </div>      
<script src="../js/main.js"></script>      
</body>
</html>
